/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #777;
	line-height: 1.7;

	padding: 30px;
}


.page-header {
	width: 100%;
	height: 95vh;
	background-image: linear-gradient(
		to right bottom, 
		rgba(126, 213, 111, .8), 
		rgba(40, 180, 131, .8)),
	url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
}

.page-logo {
	position: absolute;
	top: 40px;
	left: 40px;
}

.page-logo .logo {
	height: 35px;
}

.page-title {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.page-title-text {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.page-title-text-main {
	display: block;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 35px;
	animation: moveInLeft 1s ease-out;
	backface-visibility: hidden;
}

.page-title-text-sub {
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 17.4px;
	animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}